@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-out;
}

.bg-grid-pattern {
  background-image: linear-gradient(to right, #00000010 1px, transparent 1px),
    linear-gradient(to bottom, #00000010 1px, transparent 1px);
  background-size: 20px 20px;
}